h1{
    text-decoration: underline;
}
.accueil{
    text-align: center;
}
body{
    background-color: #24292E;
    color: #FFFFFF;
}
p{
    font-size: 32px;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 35px;
    background-color: grey;
}